# RESEND_API_KEY: Your API key from resend.com
RESEND_API_KEY="re_..."

# CONTACT_EMAIL_RECEIVER: The email address that will receive inquiries and orders
CONTACT_EMAIL_RECEIVER="your-email@example.com"

